<style>
    :root {
        /* Primary theme color */
        --primary-color: #121A26;
        /* Primary theme text color */
        --primary-text-color: #121A26;
        /* Primary theme link color */
        --primary-link-color: #40C4FF;
        /* Secondary color: the background body color */
        --secondary-color: #F0F0F0;
        --secondary-text-color: #1C2834;
        /* Highlight text color of table of content */
        --toc-highlight-text-color: #121A26;
        
        --test: #121A26;
        --test1: #40C4FF;
        --test2: #1C2834;
    }
</style>